.button-icon {
    -fx-pref-height: 1.5em;
    -fx-max-height: 1.5em;

    -fx-background-insets: -1.4, 0, 1;
    -fx-background-radius: 1.4, 0, 0;
    -fx-padding: 10; /* 0.083333em; */


    /*-fx-font-size: 1.5em;*/
    -fx-background-color: rgba(0,0,0,0.0);
    -fx-border-style: none;
    -fx-text-fill: #212121;
    -fx-border-radius: 0;
}

.button-icon:focused {

    /*-fx-font-size: 1.5em;*/
    -fx-border-style: none;
    -fx-border-radius: 0;
    -fx-border-color: transparent;
}

.button-icon:hover {

   /*-fx-font-size: 1.5em;*/
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-border-style: none;
    -fx-text-fill: lightcoral;
    -fx-background-color: transparent;
}

.button-icon:pressed {

    /*-fx-font-size: 1.5em;*/
    -fx-border-radius: 0;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-border-style: none;
    -fx-text-fill:darkseagreen;
    -fx-background-color: transparent;
}

.list-view:focused {
    -fx-background-insets: -1.4, 0, 1;
    -fx-background-radius: 1.4, 0, 0;
    -fx-padding: 1; /* 0.083333em; */
}

button {
    -fx-border-style: none;
    -fx-background-color: #212121;
    -fx-text-fill: white;
}

.heading {
    -fx-font-size: 1.5em;
    -fx-font-weight:bold ;
}