
.title-bar{
    -fx-background-color: silver;
}

.title-bar-label{

}

.icons {
    -fx-font-family: FontAwesome;
    -fx-font-size: 10px;
    -fx-font-weight: 200;
    /*-fx-text-fill: black;*/

    -fx-margin-bottom: 3px;
    -fx-margin-top: 3px;
    -fx-margin-left: 3px;
    -fx-margin-left: 3px;
}