
/*******************************************************************************
 *                                                                             *
 * Background Color : #2e2e2e                                                  *
 * Pressed Color :  #4078ed                                                    *
 * 2px -> 0.166667em                                                           *
 *                                                                             *
 ******************************************************************************/

Parent {
    -fx-text-fill: white;
}

.root {
    -fx-background-color: #2e2e2e;
    -fx-text-fill: white;
    -fx-focus-color: #4078ed ;
    -fx-faint-focus-color: #4078ed;
}

.background {
    -fx-background-color: #2e2e2e;
    -fx-text-fill: white;
}

.h1 {
    -fx-font-size: 2em;
}

.h2 {
    -fx-font-size: 1.75em;
}

.h3 {
    -fx-font-size: 1.5em;
}

.h4 {
    -fx-font-size: 1.25em;
}

.bold {
    -fx-font-weight: bold;
}

.light {
    -fx-font-weight: lighter;
}

Label {
    -fx-text-fill: white;
}


/*******************************************************************************
 *                                                                             *
 * Button                                                                      *
 *                                                                             *
 ******************************************************************************/
Button {
    -fx-spacing: 5;
    -fx-background-radius: 0;
    -fx-border-style:solid;
    -fx-border-color: white;
    -fx-border-width: 0.166667em;
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

Button:hover {
    -fx-background-color: #3d3e43;
}

Button:pressed {
    -fx-background-color: #4078ed;
}


/*******************************************************************************
 *                                                                             *
 * ChoiceBox                                                                   *
 *                                                                             *
 ******************************************************************************/



.combo-box .list-cell
{
    -fx-background-radius: 0.166667em;
    -fx-border-radius: 0.166667em;
    -fx-border-style: solid;
    -fx-border-color: white;
    -fx-background-color: #353535;
    -fx-text-fill: white;
}

.combo-box-popup .list-view
{
    -fx-background-color: #353535;
    -fx-border-radius: 0;
    -fx-border-style: none;
    -fx-background-radius: 0;
}

.combo-box-popup .list-view .list-cell
{
    -fx-padding: 4 0 4 5;

    /* No alternate highlighting */
    -fx-background-color: #353535;
    -fx-border-radius: 0;
    -fx-border-style: none;
    -fx-background-radius: 0;
}

.combo-box-popup .list-view .list-cell:filled:selected, .combo-box-popup .list-view .list-cell:filled:selected:hover
{
    -fx-background-color: #4078ed;
    -fx-border-radius: 0;
    -fx-border-style: none;
    -fx-background-radius: 0;
}

.combo-box-popup .list-view .list-cell:filled:hover
{
    -fx-background-color: #4078ed;
    -fx-border-radius: 0;
    -fx-border-style: none;
    -fx-background-radius: 0;
}

.combo-box-base
{
    -fx-background-color: #353535;
    -fx-border-radius: 0;
    -fx-border-style: none;
    -fx-background-radius: 0;
}

.combo-box-base:hover
{
    -fx-border-radius: 0;
    -fx-border-style: none;
    -fx-background-radius: 0;
}

.combo-box-base:showing
{
    -fx-border-radius: 0;
    -fx-border-style: none;
    -fx-background-radius: 0;
}

.combo-box-base:focused {
    -fx-border-radius: 0;
    -fx-border-style: none;
    -fx-background-radius: 0;
}

.combo-box-base:disabled {
    -fx-opacity: .4;
}


ComboBox {
    -fx-background-radius: 0.166667em;
    -fx-border-radius: 0.166667em;
    -fx-border-style: solid;
    -fx-border-color: white;
    -fx-background-color: #353535;
    -fx-text-fill: white;
}

.combo-box-base {
    -fx-background-color: #353535;
    -fx-text-fill: white;
}

Combobox .list-cell {
    -fx-background-color: #353535;
}

.combo-box-popup > .list-view .text-field{
    -fx-background-color: #353535;
    -fx-text-fill: white;
    -fx-fill: white;
}

ComboBox .context-menu {
    -fx-background-radius: 0;
    -fx-border-style: none;
    -fx-background-color: #353535;
    -fx-text-fill: white;
}

ComboBox .menu-item .label {
    -fx-text-fill: white;

}

ComboBox .menu-item:focused {
    -fx-background-color: #4078ed;
}

ComboBox Label {
    -fx-text-fill: white;
}

ComboBox Label .context-menu {
    -fx-text-fill: white;
}

ComboBox:hover {
    -fx-background-color: #3d3e43;
}

ComboBox:pressed {
    -fx-background-color: #4078ed;
}


/*******************************************************************************
 *                                                                             *
 * DatePicker                                                                   *
 *                                                                             *
 ******************************************************************************/
DatePicker {
    -fx-background-radius: 0.166667em;
    -fx-border-radius: 0.166667em;
    -fx-border-style: solid;
    -fx-border-color: white;
    -fx-background-color: #353535;
    -fx-text-fill: white;
}

DatePicker .date-picker-display-node {
    -fx-background-color: #353535;
    -fx-text-fill: white;
}

DatePicker .date-picker-popup > .month-year-pane {
    -fx-background-color: #353535;
    -fx-text-fill: white;
}

/*******************************************************************************
 *                                                                             *
 * ListView                                                                    *
 *                                                                             *
 ******************************************************************************/

ListView {
    -fx-background-color: #353535;
}


ListView .list-cell{
    -fx-background-color: #353535;
    -fx-text-fill: white;
}

ListView .list-cell:focused {
    -fx-background-color: #4078ed;
}

/*******************************************************************************
 *                                                                             *
 * TreeView                                                                    *
 *                                                                             *
 ******************************************************************************/
TreeView .virtual-flow .tree-cell{
    -fx-background-color: #353535;
    -fx-text-fill: white;
}


/*******************************************************************************
 *                                                                             *
 * DialogPane                                                                  *
 *                                                                             *
 ******************************************************************************/
DialogPane {
    -fx-background-color: #2e2e2e;
    -fx-text-fill: white;
    -fx-border-width: 0.166667em;
    -fx-border-style: solid;
    -fx-border-color: white;
}

DialogPane .button-bar .container .more .text {
    -fx-fill: white;
}


/*******************************************************************************
 *                                                                             *
 * TitledPane                                                                  *
 *                                                                             *
 ******************************************************************************/
TitledPane  {
    -fx-background-color: #2e2e2e;
    -fx-text-fill: white;
}

/*******************************************************************************
 *                                                                             *
 * TextField                                                                   *
 *                                                                             *
 ******************************************************************************/
TextField {
    -fx-background-color: #353535;
    -fx-border-style: solid;
    -fx-border-color: white;
    -fx-border-width: 0.166667em;
    -fx-text-fill: white;
}

.textfield-error
{
    -fx-border-color: red;
}

/*******************************************************************************
 *                                                                             *
 * Util Buttons                                                                *
 *                                                                             *
 ******************************************************************************/
.button-icon {
    -fx-pref-height: 1.5em;
    -fx-max-height: 1.5em;

    -fx-background-insets: -1.4, 0, 1;
    -fx-padding: 10; /* 0.083333em; */

    /*-fx-font-size: 1.5em;*/
    -fx-background-radius: 0;
    -fx-background-color: rgba(0,0,0,0.0);
    -fx-border-style: none;
    -fx-border-color: transparent;
    -fx-text-fill: white;
    -fx-border-radius: 0;
}

.button-icon:focused {

    /*-fx-font-size: 1.5em;*/
    -fx-border-style: none;
    -fx-border-radius: 0;
    -fx-border-color: transparent;
}

.button-icon:hover {

    /*-fx-font-size: 1.5em;*/
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-border-style: none;
    -fx-text-fill: #777777;
    -fx-background-color: transparent;
}

.button-icon:pressed {

    /*-fx-font-size: 1.5em;*/
    -fx-border-radius: 0;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-border-style: none;
    -fx-text-fill:#4078ed;
    -fx-background-color: transparent;
}

.list-view:focused {
    -fx-background-insets: -1.4, 0, 1;
    -fx-background-radius: 1.4, 0, 0;
    -fx-padding: 1; /* 0.083333em; */
}

/**********************************************/
.error {
    -fx-background-image: url("images/sad_pepe_2.jpg");
}